<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.recipe_mvvm.zfl.module_recipe_about">

    <application android:theme="@style/AppTheme">
        <activity android:name=".RecipeAboutActivity" android:screenOrientation="portrait" />
    </application>

</manifest>